@charset "UTF-8";
/* Contacto */
/* Form */
form {
  background-color: #fdc832;
  border: none;
  color: black;
  display: block;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 25px;
  text-align: center; }
  form .form__campos {
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    text-align: center; }
  form .form__opciones {
    display: inline-block;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 1px;
    word-spacing: 1px; }
  form .form__párrafos {
    color: black;
    display: block;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 10px;
    text-align: center;
    text-transform: uppercase; }
  form fieldset {
    border: black;
    border-style: double;
    border-width: 10px; }

/* Formación */
/* Table */
table {
  background: linear-gradient(to bottom, #fdc832, #ffd78c);
  background-color: #fdc832;
  border-color: black;
  border-spacing: 0px;
  border-width: 5px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 0px;
  text-align: center;
  width: 100%; }
  table th {
    border: black 5px solid;
    background-color: #ffc014;
    color: black;
    font-weight: bolder; }
  table td {
    border: black 3px solid; }

/* Footer */
.footer {
  background-color: white;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
  text-decoration: none; }
  .footerFlex {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowwrap;
    justify-content: center; }
    .footerFlexHijos {
      align-self: auto;
      font-family: "Courier New", Courier, monospace;
      font-style: normal;
      font-weight: normal;
      flex-basis: initial;
      flex-grow: initial;
      flex-shrink: auto;
      order: auto;
      padding: 10px 10px 10px 10px; }

footer section img:hover {
  transform: scale(1.5, 1.5); }

small {
  color: #1e1e1e;
  font-family: "Courier New", Courier, monospace; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: white; }

/* Hobbies */
.hobbies {
  align-items: center;
  width: 100%; }

.hobbies__párrafos {
  background-color: #fdc832;
  color: black;
  display: grid;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 10px;
  text-align: center;
  text-transform: uppercase; }

/* Nav */
nav ul {
  background: radial-gradient(#494949, black);
  display: block;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
  width: 100%; }
  nav ul li {
    background: radial-gradient(#ffa41c, white);
    border-color: #ffa600;
    border-style: groove;
    border-width: 5px;
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: bolder;
    letter-spacing: 1px;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    position: sticky;
    text-transform: uppercase; }

nav ul li:hover {
  transform: scale(1.1, 1.1); }

/* Enlaces */
ul li a {
  color: black;
  text-decoration: none;
  transition: all 0s; }

ul li a:hover {
  color: orangered; }

div a {
  text-decoration: none; }

p a {
  color: blue;
  text-decoration: none; }

/* Encabezados */
h1 {
  background: linear-gradient(to bottom, black, #ffa600);
  color: white;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 20px;
  text-align: center;
  width: 100%;
  animation-name: cambio_color_h1;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 8s;
  animation-delay: 0s; }

@keyframes cambio_color_h1 {
  0% {
    color: white; }
  25% {
    color: orange; }
  50% {
    color: black; }
  75% {
    color: white; } }

h2 {
  background-color: #ffaa1e;
  color: white;
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 20px 10px 20px 10px;
  text-align: center;
  animation-name: cambio_color_h2;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 4s;
  animation-delay: 0s; }

@keyframes cambio_color_h2 {
  0% {
    color: white; }
  50% {
    color: black; } }

/* Párrafos */
article {
  padding: 0px; }
  article .párrafos__título {
    background-color: #0f0f0f;
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 15px 10px 15px 10px;
    text-align: center; }
  article .párrafos__fondo {
    background-color: #fdc832; }
  article .párrafos__info {
    background-color: #fdc832;
    color: black;
    display: block;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 0px;
    text-align: center;
    text-transform: uppercase; }

/* Mobile */
@media screen and (min-width: 1px) and (max-width: 767px) {
  /* Agregar modificaciones */ }

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Agregar modificaciones */ }

/* Desktop */
@media screen and (min-width: 1024px) {
  /* Agregar modificaciones */ }
