@charset "UTF-8";
/* Contacto */
form {
  border: none;
  display: block;
  color: #1f1f1f;
  background-color: #fdd790;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 25px;
  text-align: center;
}

form .form__campos {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  text-align: center;
}

form .form__opciones {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
  word-spacing: 1px;
}

form .form__párrafos {
  color: #1f1f1f;
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

form fieldset {
  border: #1f1f1f;
  border-style: double;
  border-width: 10px;
}

/* Formación */
/* Table */
table {
  background: -webkit-gradient(linear, left top, left bottom, from(#fdc832), to(#ffd78c));
  background: linear-gradient(to bottom, #fdc832, #ffd78c);
  border-color: #1f1f1f;
  border-spacing: 0px;
  border-width: 5px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: #1f1f1f;
  background-color: #fdc832;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 0px;
  text-align: center;
  width: 100%;
}

table th {
  border: #1f1f1f 5px solid;
  font-weight: bolder;
  color: #1f1f1f;
  background-color: #ffc014;
}

table td {
  border: #1f1f1f 3px solid;
}

/* Footer */
.footer {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  color: #1f1f1f;
  background-color: #ffce73;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
}

.footerFlex {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowwrap;
      flex-wrap: nowwrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerFlexHijos {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  -ms-flex-preferred-size: initial;
      flex-basis: initial;
  -webkit-box-flex: initial;
      -ms-flex-positive: initial;
          flex-grow: initial;
  -ms-flex-negative: auto;
      flex-shrink: auto;
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  font-weight: normal;
  -webkit-box-ordinal-group: auto;
      -ms-flex-order: auto;
          order: auto;
  padding: 10px 10px 10px 10px;
}

footer section img:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

small {
  color: #1e1e1e;
  font-family: "Courier New", Courier, monospace;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fdd790;
}

/* Hobbies */
.hobbies {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.hobbies__párrafos {
  display: -ms-grid;
  display: grid;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  color: #1f1f1f;
  background-color: #fdd790;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

/* Nav */
nav ul {
  background: radial-gradient(#494949, #1f1f1f);
  display: block;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
  width: 100%;
}

nav ul li {
  background: radial-gradient(#ffa41c, #fafafa);
  border-color: #ffa600;
  border-style: groove;
  border-width: 5px;
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: 1px;
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  position: -webkit-sticky;
  position: sticky;
  text-transform: uppercase;
}

nav ul li:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

/* Enlaces */
ul li a {
  color: #1f1f1f;
  text-decoration: none;
  -webkit-transition: all 0s;
  transition: all 0s;
}

ul li a:hover {
  color: orangered;
}

div a {
  text-decoration: none;
}

p a {
  color: blue;
  text-decoration: none;
}

/* Encabezados */
h1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#1f1f1f), to(#ffb62d));
  background: linear-gradient(to bottom, #1f1f1f, #ffb62d);
  color: #fafafa;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: 1px;
  height: 100%;
  width: 100%;
  padding: 20px;
  text-align: center;
  -webkit-animation-name: cambio_color_h1;
          animation-name: cambio_color_h1;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes cambio_color_h1 {
  0% {
    color: white;
  }
  25% {
    color: orange;
  }
  50% {
    color: black;
  }
  75% {
    color: white;
  }
}

@keyframes cambio_color_h1 {
  0% {
    color: white;
  }
  25% {
    color: orange;
  }
  50% {
    color: black;
  }
  75% {
    color: white;
  }
}

h2 {
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: bold;
  color: #fafafa;
  background-color: #ffbc51;
  letter-spacing: 1px;
  padding: 20px 10px 20px 10px;
  text-align: center;
  -webkit-animation-name: cambio_color_h2;
          animation-name: cambio_color_h2;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes cambio_color_h2 {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
}

@keyframes cambio_color_h2 {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
}

/* Párrafos */
article {
  padding: 0px;
}

article .párrafos__título {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #ffbd41;
  background-color: #1f1f1f;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 15px 10px 15px 10px;
  text-align: center;
}

article .párrafos__fondo {
  background-color: #fdd790;
}

article .párrafos__info {
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  color: #1f1f1f;
  background-color: #fdd790;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 0px;
  text-align: center;
  text-transform: uppercase;
}

.imagen__Nahue {
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Mobile */
@media screen and (min-width: 1px) and (max-width: 767px) {
  /* Agregar modificaciones */
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Agregar modificaciones */
}

/* Desktop */
@media screen and (min-width: 1024px) {
  /* Agregar modificaciones */
}
/*# sourceMappingURL=archivo.css.map */