@import "variables";
@import "mixins";

/* Formación */

/* Table */

table {
  background: linear-gradient(to bottom, rgb(253, 200, 50), rgb(255, 215, 140));
  border-color: $color-secundario;
  border-spacing: 0px;
  border-width: 5px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  @include colorLetraYFondo($color-secundario, rgb(253, 200, 50));
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 0px;
  text-align: center;
  width: 100%;

  th {
    border: $color-secundario 5px solid;
    font-weight: bolder;
    @include colorLetraYFondo($color-secundario, rgb(255, 192, 20));
  }

  td {
    border: $color-secundario 3px solid;
  }
}
