@import "variables";
@import "mixins";

/* Hobbies */

.hobbies {
  align-items: center;
  width: 100%;
}

.hobbies__párrafos {
  @include colorLetraYFondo($color-secundario, $color-primario);
  display: grid;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
