@import "variables";
@import "mixins";

/* Nav */

header {
  display: block;
}

header nav {
  align-items: center;
  background: radial-gradient(rgb(255, 150, 63), $color-secundario);
  letter-spacing: 1px;

  ul {
    justify-content: center;
    margin: auto;
  }

  ul li a {
    background: radial-gradient(rgb(255, 164, 28), $color-terciario);
    border-color: rgb(255, 166, 0);
    border-style: groove;
    border-width: 2px;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: bolder;
    letter-spacing: 1px;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    position: sticky;
    text-align: center;
    text-transform: uppercase;
  }
}

nav ul li:hover {
  transform: scale(1.1, 1.1);
}

/* Enlaces */

ul li a {
  color: $color-secundario;
  text-decoration: none;
  transition: all 0s;
}

ul li a:hover {
  color: orangered;
}

div a {
  text-decoration: none;
}

p a {
  color: blue;
  text-decoration: none;
}
