$color-primario: rgb(253, 215, 144);
$color-secundario: rgb(31, 31, 31);
$color-terciario: rgb(250, 250, 250);

$color-letra: color;
$color-fondo: background-color;

$height: height;
$width: width;
